<!DOCTYPE html>
<html lang="en">
<head>
	<title>K-Xtractor</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'theme_files/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/css/custom.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'theme_files/css/main.css' %}">
<!--===============================================================================================-->

<!--  Removing spinners from input number field	-->
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}

		input[type=number] {
		  -moz-appearance: textfield;
		}
	</style>
</head>
<body>
	{% csrf_token %}
	<div class="contact1">
		<div class="container-contact1">
			<span class="contact1-form-title txt-left-pad">
				&emsp;&emsp;Resume Optimizer
			</span>
			<span class="foot-note-right"><b>Please follow us on LinkedIn for further updates</b> - <a href="https://www.linkedin.com/in/gururajangovindan" target="new"><span class="fa fa-linkedin"></span>&nbsp;Gururajan</a>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/sripathisrinivasan" target="new1"><span class="fa fa-linkedin"></span>&nbsp;Sripathi</a></span>
			<form id="main_form" class="contact1-form validate-form">
				<br>
				<div class="wrap-input1 validate-input" data-validate = "Job description is required">
					<textarea class="input1" id="job_desc" name="job_desc" rows="14" placeholder="Job Description" maxlength="10000" required></textarea>
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Number of words is required">
					<input class="input1" type="number" id="num_words" name="num_words" placeholder="Number of words to extract" required>
					<span class="shadow-input1"></span>
				</div>

				<div class="container-contact1-form-btn">
					<button id="btn_submit" type="button" class="contact1-form-btn">
						<span>
							Submit
						</span>
					</button><br><br>
				</div>
			</form>

			<div id="output" class="contact1-pic">
				<br>
				<div id="status"></div><br>
				<div id="most_freq_container" class="js-tilt" data-tilt></div><br><br>
				<div id="least_freq_container" class="js-tilt" data-tilt></div>
			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{% static 'theme_files/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'theme_files/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'theme_files/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'theme_files/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'theme_files/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
<!--===============================================================================================-->
	<script type="text/javascript">
		window.onload = function() {
			btn_submit.onclick = function() { validateAndSubmitJobDescForm(main_form) }
		}
	</script>

<!--===============================================================================================-->
	<script src="{% static 'theme_files/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
<!--===============================================================================================-->


<!--============================= STAT COUNTER =================================-->

<!-- Default Statcounter code for Resume Optimizer -->
<script type="text/javascript">
var sc_project=12351894;
var sc_invisible=1;
var sc_security="75e9efce";
var sc_https=1;
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
StatCounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12351894/0/75e9efce/1/"
alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
<a href="https://statcounter.com/p12351894/?guest=1">kxtractor-dev</a>

</body>
</html>
